[Desktop Entry]
Name=BitchX
Comment=The Ultimate IRC Client
Comment[es]=Cliente IRC para la consola Linux
Comment[pl]=Ulepszony, kolorowy klient IRC z wbudowanymi skryptami
Comment[pt_BR]=Cliente IRC para o console do Linux
Exec=BitchX
Icon=BitchX.png
Terminal=true
Type=Application
